CLEARML_WEB_HOST=http://<IP_ADDRESS>:8090
CLEARML_API_HOST=http://<IP_ADDRESS>:8008
CLEARML_FILES_HOST=http://<IP_ADDRESS>:8081
CLEARML_API_ACCESS_KEY=<YOUR_ACCESS_KEY>
CLEARML_API_SECRET_KEY=<YOUR_SECRET_KEY>
CLEARML_SERVING_TASK_ID=<SERVING_SERVICE_ID>